body{
    background: #eee;
}
.dashboard .dashboard-middle,.dashboard .dashboard-right{
    margin-top:30px;
}
.dashboard.row{
   --bs-gutter-x: 0 !important;
}
.dashboard-right{
    padding-left:1.5rem;
}

@media screen and (max-width: 600px) {
.dashboard-middle{
    width: 80%;
    margin-left: 20%;
    margin-top: 4px !important;
}
}