#header {
    width: 100px;
    height: 100%;
    position: fixed;
    z-index: 1;
  }
  #header .pro-sidebar {
    height: 100vh;
  }
  #header .closemenu {
    color: #fff;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    font-size: 35px;
    cursor: pointer;
    background-color: #CD1928;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }

  #header .logo img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  #header .closemenu.collapsed{
    left:68px;
  }

  #header .pro-sidebar-inner {
    background-color: #CD1928;
    border-bottom-right-radius:20px;
    border-top-right-radius:16px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 0 0 5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #ffff;
    margin: 10px 0px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item:hover {
    color: #CD1928;
    background-color: rgb(255, 255, 255);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #c9515b;
    color: #fff;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #fff;
  }
  
  #header .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }

  @media print {
    #header {
      display: none;
    }
  }